{% load static %}
<div class="wrapper">
    <div class="multi_color_border"></div>

    <div class="top_nav">
        <div class="left">
        <div class="logo"><p><span>Kitchen</span>Ecstasy</p></div>
        <div class="search_bar">
            
            <form class="mobile_search hidden-sm hidden-md hidden-lg" role="search" action="/" method="GET">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Search"/>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
            </span>
            </div>
            </form>

        </div>
    </div> 
    <div class="right">
        <ul>
       
        <li>
            
            <div class="nav-action-elements-layout3">
                <ul>
                    <li class="nav-item"><a class ="nav-link"href="{% url 'wishlist' %}"><i class="fa fa-heart"></i>{{wishlist.count}}</a></li>  
                    <li>
                        <div class="header-search-box">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            <!-- <a href="#search" title="Search" class="search-button">
                                <i class="flaticon-search"></i>
                            </a>  -->
                        </div>
                    </li>
                    <li>
                        <div class="cart-wrap d-none d-lg-block">                                            
                            <div class="cart-info">
                                <i class="flaticon-shopping-bag"></i>
                                <div class="cart-amount"><span class="item-currency">$</span>00</div>     
                            </div>                                   
                            <div class="cart-items">
                                <div class="cart-item">
                                    <div class="cart-img">
                                        <a href="#">
                                            <img src="img/product/top-product1.jpg" alt="product" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cart-title">
                                        <a href="#">Pressure</a>
                                        <span>Code: STPT601</span>
                                    </div>
                                    <div class="cart-quantity">X1</div>
                                    <div class="cart-price">$249</div>
                                    <div class="cart-trash">
                                        <a href="#">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-img">
                                        <a href="#">
                                            <img src="img/product/top-product2.jpg" alt="product" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cart-title">
                                        <a href="#">Stethoscope</a>
                                        <span>Code: STPT602</span>
                                    </div>
                                    <div class="cart-quantity">X1</div>
                                    <div class="cart-price">$189</div>
                                    <div class="cart-trash">
                                        <a href="#">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-img">
                                        <a href="#">
                                            <img src="img/product/top-product3.jpg" alt="product" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cart-title">
                                        <a href="#">Microscope</a>
                                        <span>Code: STPT603</span>
                                    </div>
                                    <div class="cart-quantity">X2</div>
                                    <div class="cart-price">$379</div>
                                    <div class="cart-trash">
                                        <a href="#">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-btn">
                                        <a  class="item-btn" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i>View Cart</a>
                                        <a href="#" class="item-btn">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        
        </li>

        <!-- {% if user.is_authenticated %}

                <li class="nav-item"><a href="#" class="btn btn-outline-light border-0 mx-2"> Welcome {{ user.get_username }}</a></li>
                <li><a class="btn btn-light" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>

            {% else %}

                <li class="nav-item"><a class="btn btn-light" href="{% url 'login' %}?next={{request.path}}">Login</a></li>

            {% endif %} -->
        <li>
            <div class="text-center">
                <a href="" class="btn btn-default btn-rounded mt-3" data-toggle="modal" data-target="#modalRegisterForm">
                    <i class="fa fa-user" aria-hidden="true"></i> Login
                </a>
            </div>
            
        </li>
        </ul>
    </div>
    </div>

    <div class="bottom_nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'category_recipes' %}">Category</a></li>
        <li><a href="{% url 'all_recipes' %}">Recipes</a></li>
        <li><a href="{% url 'about' %}">ABOUT Us</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li class="nav-item">
            <a class="btn btn-success"  data-toggle="modal" data-target="#exampleModal" data-whatever="@KE">CONTACT US
            </a>
        </li>
    </ul>
    </div>

    <div class="banner">
      <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="banner_img">
    </div>
</div>




