{% load static %}
<div class="wrapper">
    <div class="multi_color_border"></div>

    <div class="top_nav">

        <div class="left">
            
           <div class="logo"><p><span>Kitchen</span>Ecstasy</p></div>

           <div class="search_bar">     
                <form class="mobile_search hidden-sm hidden-md hidden-lg" role="search" action="{% url 'search_product' %}" method="GET">
                    <div class="input-group">
                    <input type="text" class="form-control" name="search_data" placeholder="Search"/>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </form>

            </div>
       
        </div> 
        <div class="right">
                <ul>
            
                   

                  
                
                        <div class="text-center mt-5">

                                <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modalRegisterForm">
                                    <i class="fa fa-user"></i> LOGIN

                                </a>

                                <!-- {% if user.is_authenticated %}

                                <li class="nav-item"><a href="#" class="btn btn-outline-light border-0 mx-2"> Welcome {{ user.get_username }}</a></li>
                                <li><a class="btn btn-light" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
    
                                 {% else %}
    
                                <li class="nav-item"><a class="btn btn-light" href="{% url 'login' %}?next={{request.path}}">Login</a></li>
      
                                {% endif %} 
                         -->
                            
                            
                        </div>
            
                </ul>
        </div>
    </div>

    <div class="bottom_nav">
        <ul class="nav-item">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'category_recipes' %}">Category</a></li>
            <li><a href="{% url 'all_recipes' %}">Recipes</a></li>
            <li><a href="{% url 'about' %}">ABOUT Me</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li class="nav-item">
                <a class="btn btn-success"  data-toggle="modal" data-target="#exampleModal" data-whatever="@KE">CONTACT US
                </a>
            </li>
        </ul>
    </div>

    <div class="banner">
      <img style="object-fit: cover;"src="{% static 'images/food.jpg' %}" alt="banner_img">
    </div>
</div>




