{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block content %}
	 
<section class="all-recipes-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="about-box"> 

                    <div class="widget-about">
                        <figure class="author-figure"><img src="{% static 'images/lee2.jpg' %}" alt="about"></figure>
                        <figure class="author-signature"><img src="{% static 'images/sig.jpg' %}" alt="about"></figure>
                        
                    </div>
                  
                    <h2 class="about-title title-bar bar-center">Linda Nyonje</h2>
                    <p class="item-description">More off this less hello salamander lied porpoise much over tightly circa horse taped so innocuously side crudey mightily rigorous plot life. New homes in particular are subject.All recipes created with FoodiePress have suport for Micoformats and Google Recipe View. Schema.org is a collaboration byo improve the web by creatinegaera structured data markupore off this less hello salamander lied 
                            porpoise much over tightlyapedey innocuouslylife.</p>
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">QUICK CONTACT ME</h2>
                    </div>
                    <form class="about-contact-form" action="{% url 'create.inquiry' %}" method="post" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input required type="text" id="fname" name="firstname" class="form-control" required="" placeholder="Your name..">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <input required type="email" name="email" class="form-control" id="email" placeholder="email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="number" id="lname" name="phone_number" class="form-control"  placeholder="Your phone number..">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea required id="subject" name="subject" placeholder="Message" class="textarea form-control"  rows="7" cols="20" data-error="Message field is required" required=""></textarea>

                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mb-0 mt-3">
                                <button type="submit" class="item-btn">SEND MESSAGE</button>
                            </div>
                            <div class="form-response"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                    </div>
                    <div class="widget-follow-us">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fa fa-facebook"></i>LIKE ME ON</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-twitter"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa-brands fa-tiktok"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-pinterest"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-instagram"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-youtube"></i>Subscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list">
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest1.jpg" alt="Post"></a>
                                    <div class="count-number">1</div>
                                </div>
                                <div class="item-content">
                                   <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                        
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">2</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest3.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest4.jpg" alt="Post"></a>
                                    <div class="count-number">4</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-ad">
                        <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/figure/figure4.jpg" alt="Ad" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	 


{% endblock %}