{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block content %}
	 
<section class="all-recipes-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="about-box"> 

                    <div class="widget-about">
                        <figure class="author-figure"><img src="{% static 'images/lee2.jpg' %}" alt="about" width="250" height="250"></figure>
                        
                    </div>
                  
                    <h2 class="about-title title-bar bar-center">Linda Nyonje, A Tech Guru with a Passion for Flavors</h2>
                    <h2></h2>
                    <p class="item-description">
                          
                        👩‍💻 As a seasoned software developer with a bachelor's degree in economics and statistics, 
                        I navigate the world of algorithms and code with precision.
                        By day, I'm immersed in the language of technology, contributing my skills to innovative solutions.
                        But when the workday winds down, I swap my keyboard for a spatula and my coding mindset for a culinary one.<br>
                    </p>
                    <p class="item-description">
                        🍳 Cooking is my creative outlet, a space where precision meets experimentation.
                        From mastering the art of a perfect risotto to boldly exploring exotic spices, 
                        I find joy in creating dishes that are as diverse as the code I write. 
                        My kitchen is a playground, and every recipe is a new line of code—crafted, tested, and perfected.<br>
                       
                    </p> 
                    <p class="item-description">
                        🌍 Having a natural curiosity, I'm not just satisfied with the familiar. I'm a globetrotter of flavors, exploring diverse cuisines and bringing their essence to my own kitchen. 
                        This adventurous spirit doesn't just stop at food; 
                        it's a philosophy that transcends into my love for reading.
                        Books open up worlds, and just like trying a new dish, each page turned is a new discovery.<br>
                    </p>   
                    <p class="item-description"> 💪 The gym is my sanctuary, where I find the balance between the precision of coding and the free-flowing creativity of the kitchen. 
                        It's not just about staying fit; it's a commitment to a holistic lifestyle that fuels both body and mind.<br>
                    </p>   
                    <p class="item-description">  
                        👩‍👧 Motherhood is the heartbeat of my life. 
                        In the beautiful chaos of parenthood, I've learned to juggle lines of code, pots on the stove, and bedtime stories with seamless grace. 
                        It's a role that's shaped my multitasking skills, taught me patience, and added an extra layer of purpose to everything I do.<br>
                    </p>   
                    <p class="item-description">
                        Join me on this gastronomic journey, where tech meets taste, 
                        and every recipe is a code waiting to be executed—creating a symphony of flavors in the heart of my kitchen.<br>
                        Food Ecstasy is all we Serve<br>
                    </p>   
                    <p class="item-description">Welcome to my world of bytes and bites!<br></p> 
                    <p class="item-description">🌐🍽️ #TechChef #CulinaryAdventures #CodeAndCook<br><br></p>  
                    
                   
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">QUICK CONTACT ME</h2>
                    </div>
                    <form class="about-contact-form" action="{% url 'create.inquiry' %}" method="post" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input required type="text" id="fname" name="firstname" class="form-control" required="" placeholder="Your name..">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <input required type="email" name="email" class="form-control" id="email" placeholder="email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="number" id="lname" name="phone_number" class="form-control"  placeholder="Your phone number..">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea required id="subject" name="subject" placeholder="Message" class="textarea form-control"  rows="7" cols="20" data-error="Message field is required" required=""></textarea>

                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group mb-0 mt-3">
                                <button type="submit" class="item-btn">SEND MESSAGE</button>
                            </div>
                            <div class="form-response"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                    </div>
                    <div class="widget-follow-us">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fa fa-facebook"></i>LIKE ME ON</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-twitter"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa-brands fa-tiktok"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-pinterest"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-instagram"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fa fa-youtube"></i>Subscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST RECIPES</h3>
                    </div>
                    <div class="widget-latest">
                        <ul class="block-list">
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="{{recipe.image.url}}" alt="Post"></a>
                                    <div class="count-number">1</div>
                                </div>
                                <div class="item-content">
                                   <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                        
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest2.jpg" alt="Post"></a>
                                    <div class="count-number">2</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest3.jpg" alt="Post"></a>
                                    <div class="count-number">3</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                            <li class="single-item">
                                <div class="item-img">
                                    <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/latest4.jpg" alt="Post"></a>
                                    <div class="count-number">4</div>
                                </div>
                                <div class="item-content">
                                    <div class="item-ctg">DESSERT</div>
                                    <h4 class="item-title"><a href="#">Salami Oven Roasted are Mozzarella Oelette</a></h4>
                                    <div class="item-post-date"><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Dec,2018</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-ad">
                        <a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/figure/figure4.jpg" alt="Ad" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	 


{% endblock %}