{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block 'styles' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
{% endblock 'styles' %}


{% block content %}


<section class="inner-page-banner bg-common" data-bg-image="img/figure/inner-page-banner1.jpg" style="background-image: url(&quot;img/figure/inner-page-banner1.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Recipe Categories</h1>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Categories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> 



<!-- <section class="category-page-wrap padding-top-80 padding-bottom-50 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Chicken</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product32.jpg" alt="Appetizers"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Appetizers</a></h3>
                        <span class="sub-title"> 13 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product31.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1%}">BBQ</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product32.jpg" alt="Desert"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Desert</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product33.jpg" alt="Sushi"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Meal</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product37.jpg" alt="Salads"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1%}">Salads & Sides</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Soups & stew</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product30.jpg" alt="Drinks"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Smoothies & Drinks</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="Pasta"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Pasta</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="Bread & Dough"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Bread & Dough</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="AirFryer"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">AirFryer</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="category-box-layout1">
                    <figure class="item-figure"><a href="{% url 'get_category_recipes' 1 %}"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product29.jpg" alt="Sandwiches"></a></figure>
                    <div class="item-content">
                        <h3 class="item-title"><a href="{% url 'get_category_recipes' 1 %}">Sandwiches</a></h3>
                        <span class="sub-title"> 14 Recipes</span>
                    </div>
                </div>
            </div>
        </div>    
           
    </div>
</section>  -->


<section class="category-page-wrap padding-top-80 padding-bottom-50 mt-5">
    <div class="container">
        <div class="row">


            {% for category in categories %}

                {% include 'ecstasy/frontend/layouts/single_category.html' %}

            {% endfor %}

       </div>    
                    
    </div>
</section> 



{% endblock %}



