{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block 'styles' %}

<link href="{% static 'css/notiflix.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

  

   <div class="col-lg-4 col-md-6 col-sm-6 col-12" style="text-align: center;" >
		<div class="product-box-layout1" >
			<figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
			<div class="item-content">
				<span class="sub-title">{{ recipe.category.name }}</span>
				<h3 class="item-title"><a href="#">{{ recipe.name }}</a>
				</h3>
				<form id="" action="" method="POST">

		  
					{% csrf_token %}
	
				   
					<!-- Rating Stars Box -->
				   
					<div class='rating-stars text-center' required>
					  <ul id='stars'>
						<li class='star' title='Poor' data-value='1'>
						  <i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Fair' data-value='2'>
						  <i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Good' data-value='3'>
						  <i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Excellent' data-value='4'>
						  <i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='WOW!!!' data-value='5'>
						  <i class='fa fa-star fa-fw'></i>
						</li>
					  </ul>
					</div>
	
				</form>
  
  
				<p>{{ recipe.description }}</p>


				<ul class="entry-meta" id="stats">
				<li>
					<a href="">
					<i class="fa fa-clock-o" aria-hidden="true"></i>
	
					"15 Mins"
					</a>
				</li>
				<li>
					<a href="">
					<i class="fa fa-user" aria-hidden="true"></i>
					by
					<span>Linda Nyonje</span>
					</a>
				</li>
				<li>
					<a href="">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<span>02</span>
					</a>
				</li>
				</ul>
			</div>
		</div>
	</div>


</div>





{% endblock %}

{% block 'scripts' %}

<script src="{% static 'js/notiflix.js' %}"></script>


{% endblock %}


