{% extends 'ecstasy/frontend/layouts/master.html' %}

{% load static %}

{% block 'styles' %}

<link href="{% static 'css/notiflix.css' %}" rel="stylesheet">

{% endblock %}


{% block css %}


{% endblock css %}


{% block content %}

<section class="single-recipe-wrap-layout1 padding-top-74 padding-bottom-50">
	<div class="container">
		<div class="row gutters-60">
			<div class="col-lg-8">
				<div class="single-recipe-layout1">
					<div class="ctg-name">{{recipe.category.name}}</div>
					<h2 class="item-title">{{ recipe.title }}</h2>
					<div class="row mb-4">
						<div class="col-xl-9 col-12">
							<ul class="entry-meta">
								<li class="single-meta"><a href="#"><i class="far fa-calendar-alt"></i>Nov 14,
										2018</a></li>
								<li class="single-meta"><a href="#"><i class="fas fa-user"></i>by <span>Kazi
											Fahim</span></a></li>
								<li class="single-meta">
									<ul class="item-rating">
										<li class="star-fill"><i class="fas fa-star"></i></li>
										<li class="star-fill"><i class="fas fa-star"></i></li>
										<li class="star-fill"><i class="fas fa-star"></i></li>
										<li class="star-fill"><i class="fas fa-star"></i></li>
										<li class="star-empty"><i class="fas fa-star"></i></li>
										<li><span>9<span> / 10</span></span> </li>
									</ul>
								</li>
								<li class="single-meta"><a href="#"><i class="fas fa-heart"></i><span>02</span>
										Likes</a></li>
							</ul>
						</div>
						<div class="col-xl-3 col-12">
							<ul class="action-item">
								<li><button><i class="fas fa-print"></i></button></li>
								<li><button><i class="fas fa-expand-arrows-alt"></i></button></li>
								<li class="action-share-hover"><button><i class="fas fa-share-alt"></i></button>
									<div class="action-share-wrap">
										<a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
										<a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
										<a href="#" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
										<a href="#" title="pinterest"><i class="fab fa-pinterest-p"></i></a>
										<a href="#" title="skype"><i class="fab fa-skype"></i></a>
										<a href="#" title="rss"><i class="fas fa-rss"></i></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="item-figure recipe-card">
						<img class="recipe-image" src="{{recipeImage}}" alt="{{recipeTitle}}">
					</div>
					<div class="item-feature">
						<ul>
							<li>
								<div class="feature-wrap">
									<div class="media">
										<div class="feature-icon">
											<i class="far fa-clock"></i>
										</div>
										<div class="media-body space-sm">
											<div class="feature-title">PREP TIME</div>
											<div class="feature-sub-title">45 Mins</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature-wrap">
									<div class="media">
										<div class="feature-icon">
											<i class="fas fa-utensils"></i>
										</div>
										<div class="media-body space-sm">
											<div class="feature-title">COOK TIME</div>
											<div class="feature-sub-title">45 Mins</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature-wrap">
									<div class="media">
										<div class="feature-icon">
											<i class="fas fa-users"></i>
										</div>
										<div class="media-body space-sm">
											<div class="feature-title">SERVING</div>
											<div class="feature-sub-title">10 People</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="feature-wrap">
									<div class="media">
										<div class="feature-icon">
											<i class="far fa-eye"></i>
										</div>
										<div class="media-body space-sm">
											<div class="feature-title">VIEWS</div>
											<div class="feature-sub-title">3,450</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="h2">Description</div>
					<p class="recipe-description">{{ recipe.description|truncatewords:100 }}</p>
					<div class="making-elements-wrap">
						<div class="row">
							<div class="col-xl-6 col-12">
								<div class="ingridients-wrap">
									<h3 class="item-title"><i class="fas fa-list-ul"></i>Ingridients</h3>
									<div class="adjust-servings">
										<div class="servings-title">Adjust Servings</div>
										<form class="servings-quantity">
											<div class="input-group quantity-holder" id="quantity-holder">
												<input type="text" name="quantity" class="form-control quantity-input" value="1" placeholder="1">
												<div class="btn-quantity-select">
													<button class="quantity-plus" type="button">
														<i class="fas fa-plus"></i>
													</button>
													<button class="quantity-minus" type="button">
														<i class="fas fa-minus"></i>
													</button>
												</div>
											</div>
										</form>
									</div>
									<div class="checkbox checkbox-primary">
										<input id="checkbox1" type="checkbox">
										
										{% for ingridients in recipe.get_ingridients_list %}

										    <label for="checkbox1"> <li>{{ ingridients }}</li>  </label>
									        
							            {% endfor %}
						
									</div>
									
								</div>
							</div>
							<div class="col-xl-6 col-12">
								<div class="nutrition-wrap">
									<h3 class="item-title"><i class="fas fa-info"></i>Nutrition</h3>
									<ul class="nutrition-list">
										<li>
											<div class="nutrition-name">Calories</div>
											<div class="nutrition-value">329</div>
										</li>
										<li>
											<div class="nutrition-name">Sugar</div>
											<div class="nutrition-value">10.5g</div>
										</li>
										<li>
											<div class="nutrition-name">Protein</div>
											<div class="nutrition-value">22.5g</div>
										</li>
										<li>
											<div class="nutrition-name">Fat</div>
											<div class="nutrition-value">02g</div>
										</li>
										<li>
											<div class="nutrition-name">Carbs</div>
											<div class="nutrition-value">18g</div>
										</li>
										<li>
											<div class="nutrition-name">Food Fat</div>
											<div class="nutrition-value">0.1</div>
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="direction-wrap-layout1">
						<div class="section-heading heading-dark">
							<h2 class="item-heading">DIRECTIONS</h2>
						</div>
						<div class="direction-box-layout1">
							
							<div class="item-content">

									<ol style="list-style-type: circle;">


										{% for instructions in recipe.get_instructions_list %}

										 <li >{{ instructions }}</li> 
										
									    {% endfor %}
									
									</ol>
								
							</div>
						</div>
					
					</div>
					<div class="tag-share">
						<ul>
							<li>
								<ul class="inner-tag">
									<li>
										<a href="#">Burger</a>
									</li>
									<li>
										<a href="#">Dinner</a>
									</li>
									<li>
										<a href="#">Pizza</a>
									</li>
									<li>
										<a href="#">Salad</a>
									</li>
								</ul>
							</li>
							<li>
								<ul class="inner-share">
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-pinterest"></i>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>  
					<div class="recipe-author">
						<div class="media media-none--xs">
							<div class="row">
								<div class="col-lg-6">
									<img src="img/blog/author9.jpg" alt="Blog Author" class="rounded-circle media-img-auto">
								</div>
								
							<div class="col-lg-6 media-body">
								<h4 class="author-title">Michel Jack</h4>
								<h5 class="author-sub-title">Written by</h5>
								<p>I love cooking and blogging. Using a fork, break salmon. Halve reserved 
										potatoes and eggs crosswise. The of something of did require met of
										help have someone.
								</p>
							
							</div>
							</div>
							
						</div>
					</div>            
					<div class="also-like-wrap">
						<h4 class="also-like-title">YOU MAY ALSO LIKE</h4>
						<div class="row">
							<div class="col-xl-4 col-lg-6 col-md-6 col-12">
								<div class="product-box-layout2">
									<figure class="item-figure"><img src="img/product/product11.jpg" alt="Product"></figure>
									<div class="item-content">
										<span class="sub-title">BREAKFAST</span>
										<h3 class="item-title"><a href="single-recipe1.html">Tomatoes Stuffed with Foie and
												Chanterelles</a></h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-6 col-12">
								<div class="product-box-layout2">
									<figure class="item-figure"><img src="img/product/product12.jpg" alt="Product"></figure>
									<div class="item-content">
										<span class="sub-title">DESERT</span>
										<h3 class="item-title"><a href="single-recipe1.html">Pumpkin Cheesecake With
												GingersnapCrust</a></h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xl-4 d-block d-md-none d-xl-block col-12">
								<div class="product-box-layout2">
									<figure class="item-figure"><img src="img/product/product13.jpg" alt="Product"></figure>
									<div class="item-content">
										<span class="sub-title">JUICE</span>
										<h3 class="item-title"><a href="single-recipe1.html">Blueberry Juice with Lemon Crema</a></h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fas fa-user"></i>by <span>John Martin</span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>             
					</div>
					
					<div class="leave-review">
						<div class="recipe-reviews">
							<div class="section-heading heading-dark">
								<h2 class="item-heading">RECIPE REVIEWS</h2>
							</div>
							<div class="avarage-rating-wrap">
								<div class="avarage-rating">Avarage Rating: 
									<span class="rating-icon-wrap">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</span>
									<span class="rating-number">(5)</span>                                        
								</div>
								<div class="total-reviews">Total Reviews:<span class="review-number">(02)</span></div>
								
							</div>
							<div class="rate-wrapper">
								<div class="rate-label">Rate us</div>
								<div class="rate">
									<div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
									<div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
									<div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
									<div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
									<div class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
								</div>
							</div>

							<form class="leave-form-box" action="{% url 'create.inquiry' %}" method="post">

								{% csrf_token %}
	
								<div class="row">
	
									
				
					
									<div class=" col-lg-4 form-group">
										<label for="fname">Full Name</label>
										<input required type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">
										<div class="help-block with-errors"></div>
									</div>
					
									<div class="col-lg-4 form-group">
										<label for="lname">Phone Number</label>
										<input type="number" id="lname" name="phone_number" class="form-control"  placeholder="Your phone number..">
										<div class="help-block with-errors"></div>
									</div>
					
									<div class="col-lg-4 form-group">
										<label for="email">Email address:</label>
										<input required type="email" name="email" class="form-control" id="email" placeholder="email">
										<div class="help-block with-errors"></div>
									</div>
					
									<div class=" col-12 form-group">
					
										<label for="subject">Subject</label>
										<textarea required id="subject" name="subject" placeholder="Message" class="form-control"  style="height:200px"></textarea>
										<div class="help-block with-errors"></div>
					
									</div>
	
									<div class="col-12 form-group mb-0">
										<button type="submit" class="item-btn">POST REVIEW</button>
									</div>
	
									<div class="form-response"></div>
								
								</div>
								
							</form>
							
						</div>

						
					</div>
				</div>
			</div>
			<div class="col-lg-4 sidebar-widget-area sidebar-break-md">
				<div class="widget">
					<div class="section-heading heading-dark">
						<h3 class="item-heading">LATEST RECIPES</h3>
					</div>
					<div class="widget-latest">
						<ul class="block-list">
							<li class="single-item">
								<div class="item-img">
									<a href="#"><img src="img/product/latest1.jpg" alt="Post"></a>
									<div class="count-number">1</div>
								</div>
								<div class="item-content">
									<div class="item-ctg">DESERT</div>
									<h4 class="item-title"><a href="#">Salami Oven Roasted are
											Mozzarella Oelette</a></h4>
									<div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
											John Martin</a></div>
								</div>
							</li>
							<li class="single-item">
								<div class="item-img">
									<a href="#"><img src="img/product/latest2.jpg" alt="Post"></a>
									<div class="count-number">2</div>
								</div>
								<div class="item-content">
									<div class="item-ctg">DESERT</div>
									<h4 class="item-title"><a href="#">Salami Oven Roasted are
											Mozzarella Oelette</a></h4>
									<div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
											John Martin</a></div>
								</div>
							</li>
							<li class="single-item">
								<div class="item-img">
									<a href="#"><img src="img/product/latest3.jpg" alt="Post"></a>
									<div class="count-number">3</div>
								</div>
								<div class="item-content">
									<div class="item-ctg">DESERT</div>
									<h4 class="item-title"><a href="#">Salami Oven Roasted are
											Mozzarella Oelette</a></h4>
									<div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
											John Martin</a></div>
								</div>
							</li>
							<li class="single-item">
								<div class="item-img">
									<a href="#"><img src="img/product/latest4.jpg" alt="Post"></a>
									<div class="count-number">4</div>
								</div>
								<div class="item-content">
									<div class="item-ctg">DESERT</div>
									<h4 class="item-title"><a href="#">Salami Oven Roasted are
											Mozzarella Oelette</a></h4>
									<div class="item-post-by"><a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
											John Martin</a></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget">
					<div class="section-heading heading-dark">
						<h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
					</div>
					<div class="widget-follow-us">
						<ul>
							<li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
							<li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
							<li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
							<li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
							<li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
							<li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
						</ul>
					</div>
				</div>
				<div class="widget">
					<div class="widget-ad">
						<a href="#"><img src="img/figure/figure4.jpg" alt="Ad" class="img-fluid"></a>
					</div>
				</div>
				<div class="widget">
					<div class="widget-newsletter-subscribe">
						<h3>GET LATEST UPDATES</h3>
						<p>Newsletter Subscribe</p>
						<form class="newsletter-subscribe-form">
							<div class="form-group">
								<input type="text" placeholder="your e-mail address" class="form-control" name="email" data-error="E-mail field is required" required="">
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group mb-none">
								<button type="submit" class="item-btn">SUBSCRIBE</button>
							</div>
						</form>
					</div>
				</div>
				<div class="widget">
					<div class="section-heading heading-dark">
						<h3 class="item-heading">CATEGORIES</h3>
					</div>
					<div class="widget-categories">
						<ul>
							<li>
								<a href="#">BreakFast
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Lunch
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Pasta
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Dinner
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Dessert
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Drinks
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
							<li>
								<a href="#">Fruits
									<span class="sub-title"> {{ category.getNumberOfRecipes }} Recipes</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget">
					<div class="section-heading heading-dark">
						<h3 class="item-heading">POPULAR TAGS</h3>
					</div>
					<div class="widget-tag">
						<ul>
							<li>
								<a href="#">DESERT</a>
							</li>
							<li>
								<a href="#">CAKE</a>
							</li>
							<li>
								<a href="#">BREAKFAST</a>
							</li>
							<li>
								<a href="#">BURGER</a>
							</li>
							<li>
								<a href="#">DINNER</a>
							</li>
							<li>
								<a href="#">PIZZA</a>
							</li>
							<li>
								<a href="#">SEA FOOD</a>
							</li>
							<li>
								<a href="#">SALAD</a>
							</li>
							<li>
								<a href="#">JUICE</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}

{% block 'scripts' %}

<script src="{% static 'js/notiflix.js' %}"></script>


{% endblock %}


