<!-- login form -->
<div class="modal fade show" id="myModal" role="dialog" style="padding-right: 17px; display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-default-bold mb-none">Login</div>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <input class="main-input-box" type="text" placeholder="User Name">
                    <input class="main-input-box" type="password" placeholder="Password">
                    <div class="inline-box mb-5 mt-4">
                        <div class="checkbox checkbox-primary">
                            <input id="modal-checkbox" type="checkbox">
                            <label for="modal-checkbox">Remember Me</label>
                        </div>
                        <label class="lost-password"><a href="#">Lost your password?</a></label>
                    </div>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-fill" type="submit" value="Login">Login</button>
                        <a href="#" class="btn-register"><i class="fas fa-user"></i>Register Here!</a>
                    </div>
                </form>
                <label>Login connect with your Social Network</label>
                <div class="login-box-social">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ggg -->
<div class="adv-search-wrap">
          
  <form class="navbar-form navbar w-100" action="" method="GET">

    <div class="input-group">
        
        <input type="text" class="form-control" placeholder="Recipe Search . . .">
        <div class="btn-group">
            <div class="input-group-btn adv-search-fill-btn">
                <button type="button" id="adv-serch" class="btn-adv-search">
                    <i class="icon-plus fa fa-plus"></i>
                    <i class="icon-minus fa fa-minus"></i>
                    Advanced Search
                </button>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
            </div>
        </div>
    
    
    </div>

    <div id="demo" class="collapse" >
      <div class="row">
          <div class="col-lg-6">
              <h3 class="item-title">BY CATEGORIES</h3>
              <ul class="search-items">
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox101" type="checkbox">
                          <label for="checkbox101">Baking</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox102" type="checkbox">
                          <label for="checkbox102">Dinner</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox103" type="checkbox">
                          <label for="checkbox103">Lunch</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox104" type="checkbox">
                          <label for="checkbox104">Sea Food</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox105" type="checkbox">
                          <label for="checkbox105">Sweets</label>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="col-lg-6">
              <h3 class="item-title">BY INGREDIENTS</h3>
              <ul class="search-items">
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox106" type="checkbox">
                          <label for="checkbox106">Oil</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox107" type="checkbox">
                          <label for="checkbox107">Vegitables</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox108" type="checkbox">
                          <label for="checkbox108">Fish</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox109" type="checkbox">
                          <label for="checkbox109">White Salt</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox110" type="checkbox">
                          <label for="checkbox110">Pizza

                          </label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox111" type="checkbox">
                          <label for="checkbox111">Meat</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox112" type="checkbox">
                          <label for="checkbox112">Juice</label>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <h3 class="item-title">BY CUISINE</h3>
              <ul class="search-items">
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox113" type="checkbox">
                          <label for="checkbox113">Indian</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox114" type="checkbox">
                          <label for="checkbox114">Italian</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox115" type="checkbox">
                          <label for="checkbox115">Maxican</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox116" type="checkbox">
                          <label for="checkbox116">Bengali</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox117" type="checkbox">
                          <label for="checkbox117">Franch</label>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="col-lg-6">
              <h3 class="item-title">BY METHOD</h3>
              <ul class="search-items">
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox118" type="checkbox">
                          <label for="checkbox118">Baking</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox119" type="checkbox">
                          <label for="checkbox119">Freezing</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox120" type="checkbox">
                          <label for="checkbox120">Frying</label>
                      </div>
                  </li>
                  <li>
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox121" type="checkbox">
                          <label for="checkbox121">Grilling</label>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>

  </form>
  
  
</div>


{% load static %}

{% block content %}

	
	

{% endblock %}

