{% extends 'ecstasy/frontend/layouts/master.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

<div class="container ">

    <div class="col-lg-8 text-center my-3">

        <div class ="card"  >

            <div class= "card-body">

                <h3>{{object.name}}</h3>
        
                <div class="container">
                
                
                    <div class="row justify-content-center my-5">
                
                        <div class="col-lg-8">
                
                            <h4 class="card-title"> <b>Your Order is complete </b></h4>
                            <p> <b>Hello {{user.get_username}},</b> <br> Your order has been confirmed ! </p>
        
                            <hr>
        
                        </div>
        
                        
                    </div>
        
                    <div  class="row justify-content-center" id= "cart_{{object.id}}" >
        
                        {% for object in cart%}
        
                        <div class="col-lg-4" >
        
                            <img src="{{object.recipe_id.image.url}}" height="50px" width="50px" class="img-fluid">
        
                        </div>
        
                        <div class="col-lg-4">
        
                            <p>{{object.recipe_id.name}}</p> 
                            <P>Status </P>
                            
                        </div>
                       
                        <div class="col-lg-4">
        
                         <p  id="row_cost_{{object.id}}" class="cost_per_row" data-product-cost="{{object.product_id.cost}}">KES {{object.recipe_id.cost}}</p> 
        
                         
                        </div>
                        <hr>
        
                        {% endfor %}
                
                    </div>

                    <hr>
        
                    <div class= "row justify-content-center">
        
                        <div class="col-lg-4">
        
                            <h5 class="font-weight-bold">Summary</h5>
                            <hr>
        
                           
                            <h4 class="font-weight-bold mb-5" id="grand_total" class="grand_total">Grand Total: 0.0</h4>
                            <hr>
        
                        </div>
                            
        
                    </div>

                    <p> We'll be sending a shipping confirmation email when the items shipped successfully.</p>
                    <p> <b> Thank you for shopping with us</b></p>

                    <h6>Bura Team </h6>
                
                
                </div>

            </div>
        </div>

       
        
        
{% endblock %}

