{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block content %}

<section class="recipe-without-sidebar-wrap padding-top-80 padding-bottom-22">
    <div class="container mt-5">

        
        
        <div class="adv-search-wrap">
          <div class="input-group">
            
<!--                 
          <form class="navbar-form navbar w-100" action="" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" name="search_data" placeholder="Author Name or Recipe Search . . .">
              <div class="input-group-btn"> 
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form> -->
          <input type="text" class="form-control" name="search_data" placeholder="Recipe Search . . .">
                <div class="btn-group">
                  <button  type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Advanced search</button>
              </div>
          </div>
          <div id="demo" class="collapse" >
              <div class="row">
                  <div class="col-lg-6">
                      <h3 class="item-title">BY CATEGORIES</h3>
                      <ul class="search-items">
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox101" type="checkbox">
                                  <label for="checkbox101">Baking</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox102" type="checkbox">
                                  <label for="checkbox102">Dinner</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox103" type="checkbox">
                                  <label for="checkbox103">Lunch</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox104" type="checkbox">
                                  <label for="checkbox104">Sea Food</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox105" type="checkbox">
                                  <label for="checkbox105">Sweets</label>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6">
                      <h3 class="item-title">BY INGREDIENTS</h3>
                      <ul class="search-items">
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox106" type="checkbox">
                                  <label for="checkbox106">Oil</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox107" type="checkbox">
                                  <label for="checkbox107">Vegitables</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox108" type="checkbox">
                                  <label for="checkbox108">Fish</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox109" type="checkbox">
                                  <label for="checkbox109">White Salt</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox110" type="checkbox">
                                  <label for="checkbox110">Pizza

                                  </label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox111" type="checkbox">
                                  <label for="checkbox111">Meat</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox112" type="checkbox">
                                  <label for="checkbox112">Juice</label>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <h3 class="item-title">BY CUISINE</h3>
                      <ul class="search-items">
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox113" type="checkbox">
                                  <label for="checkbox113">Indian</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox114" type="checkbox">
                                  <label for="checkbox114">Italian</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox115" type="checkbox">
                                  <label for="checkbox115">Maxican</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox116" type="checkbox">
                                  <label for="checkbox116">Bengali</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox117" type="checkbox">
                                  <label for="checkbox117">Franch</label>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6">
                      <h3 class="item-title">BY METHOD</h3>
                      <ul class="search-items">
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox118" type="checkbox">
                                  <label for="checkbox118">Baking</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox119" type="checkbox">
                                  <label for="checkbox119">Freezing</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox120" type="checkbox">
                                  <label for="checkbox120">Frying</label>
                              </div>
                          </li>
                          <li>
                              <div class="checkbox checkbox-primary">
                                  <input id="checkbox121" type="checkbox">
                                  <label for="checkbox121">Grilling</label>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                      
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="product-box-layout1">
                    <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                    <div class="item-content">
                        <span class="sub-title">CHICKEN</span>
                        <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                                and Chanterelles</a>
                        </h3>
                        <form id="" action="" method="POST">

                  
                            {% csrf_token %}
            
                           
                            <!-- Rating Stars Box -->
                           
                            <div class='rating-stars text-center' required>
                              <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                  <i class='fa fa-star fa-fw'></i>
                                </li>
                              </ul>
                            </div>
            
                        </form>
          
          
                        <p>More off this less hello salamander lied porpoise much over tightly circa
                            outside crud mightily rigorouse.
                        </p>
        
        
                        <ul class="entry-meta" id="stats">
                        <li>
                            <a href="">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
            
                            "15 Mins"
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            by
                            <span>Linda Nyonje</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span>02</span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
	

{% endblock %}

{% block scripts %}

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
</script>


{% endblock %}