<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecstasy</title>

    


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ecstasy.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">

   


</head>

<body>
    <!-- write a h1 heading in bold --> 
    <h1><strong>Ecstasy</strong></h1> 
    
    <!-- write a h1 with inline green heading  -->
    <h1 style="color:green">Ecstasy</h1> 

    <!-- write a h1 with inline red heading  -->
    

    <!-- write a bulleted list -->
    <ul>
        <li>Ecstasy</li>
        <li>Ecstasy</li>
        <li>Ecstasy</li>
    </ul>

    <!-- write a numbered list -->
    <ol>
        <li>Ecstasy</li>
        <li>Ecstasy</li>
        <li>Ecstasy</li>
    </ol>

    <!-- write a two column side by side div with heading on one side and text on the other side -->
    <div class="row">
        <div class="col-md-6">
            <h1>Ecstasy</h1>
        </div>
        <div class="col-md-6">
            <p>Ecstasy</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Ecstasy</h1>
        </div>
        <div class="col-md-6">
            <p>Ecstasy</p>
        </div>  
    </div>
</body>


</html>

{% for recipe in recipe %}

    {% include 'ecstasy/frontend/layouts/single_recipe.html' %}
            
 {% endfor %}

 <!-- Recip[e format] -->

 <div class="row">
          
 
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="product-box-layout1">
                <figure class="item-figure"><a href="#"><img src="https://radiustheme.com/demo/html/ranna/ranna/img/product/product39.jpg" alt="Product"></a></figure>
                <div class="item-content">
                    <span class="sub-title">CHICKEN</span>
                    <h3 class="item-title"><a href="#">Tomatoes Stuffed with Foie
                            and Chanterelles</a>
                    </h3>
                    <form id="" action="" method="POST">

            
                        {% csrf_token %}

                    
                        <!-- Rating Stars Box -->
                    
                        <div class='rating-stars text-center' required>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                        </div>

                    </form>


                    <p>More off this less hello salamander lied porpoise much over tightly circa
                        outside crud mightily rigorouse.
                    </p>


                    <ul class="entry-meta" id="stats">
                    <li>
                        <a href="">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>

                        "15 Mins"
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        by
                        <span>Linda Nyonje</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>02</span>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>

</div>