class SearchResultsView(ListView):
    model = Product
    template_name = "search.html"
    model = Product
    template_name = "search.html"
    def get_queryset(self):  # new
        query = self.request.GET["search_value"]
        category = int(self.request.GET["category"])
        if category == 0:
            object_list = Product.objects.all()
        if query and not category:
            object_list = Product.objects.filter(
                Q(product_name__icontains=query)
            )
        elif category and not query:
            object_list = Product.objects.filter(
                Q(category__id=category)
            )
        else:
            object_list = Product.objects.filter(
                Q(category__id=category), Q(product_name__icontains=query)
            )
        return object_list
    def get_context_data(self,*args, **kwargs):
        context = super(SearchResultsView, self).get_context_data(*args,**kwargs)
        context['categories'] = Category.objects.all()
        return context
def searchFilter(request):
    if request.user.is_authenticated:
        min_price = request.GET['min-price']
        max_price = request.GET['max-price']
        productsFilter = Product.objects.filter(product_cost__range=(min_price, max_price))
        context ={
                'min_price': min_price,
                'max_price': max_price,
                'object_list': productsFilter,
            }
        return render(request, 'search.html', context)
    else:
        min_price = request.GET['min-price']
        max_price = request.GET['max-price']
        productsFilter = Product.objects.filter(product_cost__range=(min_price, max_price))
        context = {
                'min_price': min_price,
                'max_price': max_price,
                'object_list': productsFilter,
            }
        return render(request, 'search.html', context)
def one(request):
    if request.user.is_authenticated:
        price = Product.objects.filter(product_cost__lte = 10000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
    else:
        price = Product.objects.filter(product_cost__lte = 10000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
def two(request):
    if request.user.is_authenticated:
        price = Product.objects.filter(product_cost__gt = 10000, product_cost__lte = 50000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
    else:
        price = Product.objects.filter(product_cost__gt = 10000, product_cost__lte = 50000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
def three(request):
    if request.user.is_authenticated:
        price = Product.objects.filter(product_cost__gt = 50000, product_cost__lte = 100000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
    else:
        price = Product.objects.filter(product_cost__gt = 50000, product_cost__lte = 100000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
def four(request):
    if request.user.is_authenticated:
        price = Product.objects.filter(product_cost__gt = 100000, product_cost__lte = 150000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
    else:
        price = Product.objects.filter(product_cost__gt = 100000, product_cost__lte = 150000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
def five(request):
    if request.user.is_authenticated:
        price = Product.objects.filter(product_cost__gt = 150000)
        context={
            "object_list":price
        }
        return render(request,'search.html', context)
    else:
        price = Product.objects.filter(product_cost__gt = 150000)
        context={
            "object_list":price,
        }
        return render(request,'search.html', context)