{% extends 'ecstasy/frontend/layouts/master.html' %}


{% load static %}

{% block content %}


<div class="container-fluid mb-3">
	<div class="row">
		<div class="col-md-12 bg-light border-bottom pt-5 pb-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Recipes</h2>
						<ol class="breadcrumb p-0 m-0 bg-transparent">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Categories, Recipes</a></li>
							<li class="breadcrumb-item active">Cart & Checkout</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mb-5">
		<div class="col-md-3">
			<div class="card mb-4">
				<div class="card-header">Products</div>
				<div class="list-group list-group-flush">
					<a href="#" class="list-group-item list-group-item-action">Breakfast Recipes (12)</a>
					<a href="#" class="list-group-item list-group-item-action active list-group-item-danger">Spices&amp; (5)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- BBQ Rub spice (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Pilau Masala (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Tea spice (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Fried rice spice (0)</a>
					<a href="#" class="list-group-item list-group-item-danger list-group-item-action active">Weaning&amp; (5)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Meals (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- weaning (0)</a>
					<a href="#" class="list-group-item list-group-item-action active list-group-item-danger">Drinks&amp; (5)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Smoothies (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Mocktails (0)</a>
					<a href="#" class="list-group-item list-group-item-action">&nbsp;&nbsp;&nbsp;- Cocktails (0)</a>
					<a href="#" class="list-group-item list-group-item-action">Appetizers(4)</a>
					<a href="#" class="list-group-item list-group-item-action">Desserts (4)</a>
					
				</div>
			</div>
			<div class="card">
				<div class="card-header">Filter</div>
				<div class="card-body p-1">
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false">
							<p class="m-0 h6">Categories</p>
						</div>
						<div class="card-body p-0 collapse show" id="collapseExample1">
							<ul class="list-group list-group-flush" style="height:200px;overflow:auto;">
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Newest</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">TopSeller</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">TopRated</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Price High</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								<li class="list-group-item p-2 d-flex justify-content-between align-items-center">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Price Low</label>
									</div>
									<span class="badge badge-secondary badge-pill">14</span>
								</li>
								
							</ul>
						</div>
					</div>
					
					<div class="card border-0 b-3">
						<div class="card-header p-2 bg-white" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false">
							<p class="m-0 h6">Price</p>
						</div>
						<div class="card-body p collapse show" id="collapseExample4">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Min</label>
									<input class="form-control" placeholder="$0" type="number">
								</div>
								<div class="form-group text-right col-md-6">
									<label>Max</label>
									<input class="form-control" placeholder="$1,0000" type="number">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn-block btn-danger">Filter</button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-md-5">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-secondary active"><i class="fas fa-th"></i></button>
								<button type="button" class="btn btn-secondary"><i class="fas fa-th-list"></i></button>
								<button type="button" class="btn btn-secondary">
									<i class="fas fa-sync-alt"></i>
									<span>Product Compare (0)</span>
								</button>
							</div>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Sort By:</span>
								</div>
								<select class="form-control" id="" name="">
									<option value="">Default</option>
									<option value="">Name (A - Z)</option>
									<option value="">Name (Z - A)</option>
									<option value="">Price (Low &gt; High)</option>
									<option value="">Price (High &gt; Low)</option>
									<option value="">Rating (Highest)</option>
									<option value="">Rating (Lowest)</option>
									<option value="">Ingredients</option>
									<option value=""><Datal>Dessert</Datal></option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Show:</span>
								</div>
								<select class="form-control" id="" name="">
									<option value="">5</option>
									<option value="">10</option>
									<option value="">15</option>
									<option value="">25</option>
									
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00</p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fas fa-cart-plus"></i>
								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fas fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fas fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fas fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00</p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i>

								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00 <del class="lead text-muted">$943.00</del></p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fa fa-cart-plus"></i>
								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00</p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fa fa-cart-plus"></i>
								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00</p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fa fa-cart-plus"></i>
								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4">
				<div class="card">
					<img class="card-img-top" src="https://via.placeholder.com/200x200" alt="" />
					<div class="card-body">
						<p class="h6"><small class="text-muted">Apple</small></br>Butterflies Hand composite</p>
						<p class="m-0">
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
							<i class='fa fa-star fa-fw'></i>
						</p>
						<p class="h5 m-0">$782.00 <s class="lead text-muted">$943.00</s></p>
					</div>
					<div class="card-footer p-0">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-light">
								<i class="fa fa-cart-plus"></i>
								<span>Add Cart</span>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-shopping-cart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-heart"></i>
							</button>
							<button type="button" class="btn btn-light">
								<i class="fa fa-sync-alt"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
</div>
			<div class="card-footer p-3">
					<div class="row">
						<div class="col-md-6">
							<ul class="pagination m-0">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<p class="text-right mb-0 mt-1">Showing 1 to 12 of 12 (1 Pages)</p>
						</div>
					</div>
				</div>
			</div>
	
	
	
		</div>

    </div>
	
</div>



{% endblock %}

<script>

var promoCode;
var promoPrice;
var fadeTime = 300;

/* Assign actions */
$(".quantity input").change(function () {
  updateQuantity(this);
});

$(".remove button").click(function () {
  removeItem(this);
});

$(document).ready(function () {
  updateSumItems();
});

$(".promo-code-cta").click(function () {
  promoCode = $("#promo-code").val();

  if (promoCode == "10off" || promoCode == "10OFF") {
    //If promoPrice has no value, set it as 10 for the 10OFF promocode
    if (!promoPrice) {
      promoPrice = 10;
    } else if (promoCode) {
      promoPrice = promoPrice * 1;
    }
  } else if (promoCode != "") {
    alert("Invalid Promo Code");
    promoPrice = 0;
  }
  //If there is a promoPrice that has been set (it means there is a valid promoCode input) show promo
  if (promoPrice) {
    $(".summary-promo").removeClass("hide");
    $(".promo-value").text(promoPrice.toFixed(2));
    recalculateCart(true);
  }
});

/* Recalculate cart */
function recalculateCart(onlyTotal) {
  var subtotal = 0;

  /* Sum up row totals */
  $(".basket-product").each(function () {
    subtotal += parseFloat($(this).children(".subtotal").text());
  });

  /* Calculate totals */
  var total = subtotal;

  //If there is a valid promoCode, and subtotal < 10 subtract from total
  var promoPrice = parseFloat($(".promo-value").text());
  if (promoPrice) {
    if (subtotal >= 10) {
      total -= promoPrice;
    } else {
      alert("Order must be more than £10 for Promo code to apply.");
      $(".summary-promo").addClass("hide");
    }
  }

  /*If switch for update only total, update only total display*/
  if (onlyTotal) {
    /* Update total display */
    $(".total-value").fadeOut(fadeTime, function () {
      $("#basket-total").html(total.toFixed(2));
      $(".total-value").fadeIn(fadeTime);
    });
  } else {
    /* Update summary display. */
    $(".final-value").fadeOut(fadeTime, function () {
      $("#basket-subtotal").html(subtotal.toFixed(2));
      $("#basket-total").html(total.toFixed(2));
      if (total == 0) {
        $(".checkout-cta").fadeOut(fadeTime);
      } else {
        $(".checkout-cta").fadeIn(fadeTime);
      }
      $(".final-value").fadeIn(fadeTime);
    });
  }
}

/* Update quantity */
function updateQuantity(quantityInput) {
  /* Calculate line price */
  var productRow = $(quantityInput).parent().parent();
  var price = parseFloat(productRow.children(".price").text());
  var quantity = $(quantityInput).val();
  var linePrice = price * quantity;

  /* Update line price display and recalc cart totals */
  productRow.children(".subtotal").each(function () {
    $(this).fadeOut(fadeTime, function () {
      $(this).text(linePrice.toFixed(2));
      recalculateCart();
      $(this).fadeIn(fadeTime);
    });
  });

  productRow.find(".item-quantity").text(quantity);
  updateSumItems();
}

function updateSumItems() {
  var sumItems = 0;
  $(".quantity input").each(function () {
    sumItems += parseInt($(this).val());
  });
  $(".total-items").text(sumItems);
}

/* Remove item from cart */
function removeItem(removeButton) {
  /* Remove row from DOM and recalc cart total */
  var productRow = $(removeButton).parent().parent();
  productRow.slideUp(fadeTime, function () {
    productRow.remove();
    recalculateCart();
    updateSumItems();
  });
}

</script>